- title(@tool.name, false)

.row
  .medium-7.medium-offset-5.columns
    %h1
      %span.tool-name= @tool.name

    %h2.subhead= @tool.type

    %p 
      Listing works with #{content_tag(:i, @tool.name)}.


= render "works/stacked", works: @tool.works
