- cache lyric do
  %section.lyric
    .lyric-box
      - if lyric.work.music?
        %h2
          Song Lyric
          %span.tiny.subdued{data: {visible_to: 'admin'}}= link_to(edit_icon, edit_lyric_path(lyric))
      %p
        %pre.lyric-content= lyric.content
