- cache lyric do
  %section.lyric
    .lyric-box
      %h2.song-lyric-title
        Song Lyric
        %span.tiny.subdued{data: {visible_to: 'admin'}}= link_to(icon(:edit), edit_lyric_path(lyric))
      %p
        %pre.lyric-content= lyric.content
