- cache ["notes", subject] do
  %section.notes
    %ul= render subject.notes

    %p{data: {visible_to: 'admin'}= link_to(new_icon, new_note_path(noteable_type: subject.class.name, noteable_id: subject.id, class: 'button'))