




/*
     FILE ARCHIVED ON 17:57:17 Dec 12, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:27:14 Aug 28, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body 
{ 
  background: #000;
  color:#222;
  font-size: 10pt;
  font-family: verdana, helvetica, sans-serif;
  margin:0;
  padding:0;
}  

img
{ 
  border:0;
 }

a 
{ 
  color: #222;
}  

a:hover 
{ 
  color: black;
}        

a:active 
{ 
  color: #ffffcc;
  }  


p
{ 
  margin-top:0;
  margin-bottom:20px;
}


h2
{ 
  color:#000;
  font-size:13pt;
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper 
{
  margin:0 auto;
  width:800px;
}


#navTitle
{ 
  float:right;
  text-align:right;
  padding:5px 20px 5px;
  width:600px;
  color:#aaa;
  font-size:14pt;
}

#navTitle a
{ 
  color:#aaa;
  text-decoration:none;
}

#navBar
{ 
  color:#fff;
  float:right;
  margin:0;
  padding:0;
}


#navTabs
{ 
  clear:both;
  float:right;
 }

#navBar ul
{ 

  margin-top:3px;
  margin-bottom:3px;
}

#navBar ul li
{ 
  display:block;
  float:left;
  width:105px;
  text-align:left;
  margin-top:0;
  padding:20px 0 3px 10px;
  border-left:dotted 1px #B2B2B2;
  border-color:#B2B2B2;
 }

#navBar ul li a 
{ 
  color:#999;
  text-decoration:none;
  font-size:12px;
  text-align:center;
  vertical-align:bottom;
}

#navBar ul li a:hover, #navTitle a:hover
{ 
  color:#fff;
}

#mainWrapper
{ 
  clear:both;
  min-height:500px;
  background:url('/web/20111212175717/http://www.pugetive.com/images/old-town.jpg') no-repeat;
  padding:80px 40px 40px 40px;
}

#main
{
  background-color:#fff;
  filter:alpha(opacity=90);
  moz-opacity:.90;
  opacity:.90;
  min-height:400px;
  padding:10px;
}

.reverse, .reverse a
{ 
  color:#eee;
}


h2.siteReference, div.siteReference
{ 
  margin-left:245px;
  padding-left:5px;
}


ul.siteReference
{ 
  text-decoration:none;
  padding:0;
  margin:0;
  list-style-type:none;
  list-style:none;
 }

.siteReference li
{ 
  list-style:none;
  clear:left;
}

div.siteTitle, div.siteThumb
{ 
  padding:5px;
  clear:left;
  float:left;
  width:235px;
  text-align:right;
  font-size:10pt;
  font-weight:bold;
}

div.siteThumb img
{ 
  padding-top:10px;
}

div.siteStuff, div.siteRole, div.siteDescription
{ 
  clear:right;
}

div.siteEra, div.siteStuff, div.siteRole, div.siteDescription
{
  width:300px;
  padding:5px;
  margin-left:245px;
  border-left:1px dotted #bbb;
}

div.siteEra
{ 
  font-weight:bold;
}

div.siteDescription, div.siteThumb
{ 
  margin-bottom:40px;
  min-height:80px;
}

body.about div.siteDescription
{ 
  min-height:0;
}

div.siteStuff
{ 
/*  font-style:italic; */
  color:#666;
  font-size:8pt;
 }

div.siteRole
{ 

  color:#666;
  font-size:8pt;
}

div.siteRole:before
{ 
  content:"Role: ";
  font-weight:bold;
 }

div.siteStuff:before
{ 
  content:"Jargon: ";
  font-weight:bold;
 }

#footer
{ 
  filter:alpha(opacity=50);
  moz-opacity:.50;
  opacity:.50;
  color:#999;
  font-size:8pt;
  padding:5px;
}

#footer img
{ 
  margin:3px;
}

#welcome
{ 
  width:300px;
  margin:50px 0 0 200px;
  font-size:14px;
  line-height:2.0;
}
