- title "Sign In", false
- add_html_class('mini')

.row
  .medium-4.columns.medium-offset-4
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = icon_field(f, :email)
      = icon_field(f, :password)
      = icon_submit(f, 'Sign In', 'Signing In...')
