- title "Status"

= render "layouts/tabs", tabs: [ {title: 'App Info',
                                 content: render('app_info')},
                                {title: "Errors",
                                 content: render('errors')},
                                 {title: 'Server Info',
                                 content: render('server_info')},
                                 {title: "Memcache",
                                 content: render('memcache_info')}]

-# js_info
