<html>
  <head>
    <title>Vue Playground</title>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <link rel="stylesheet" href="/vue/vue.css" />

  </head>
  <body>

    <div id="container">
      <h1>Vue Playground</h1>
      <div id="workspace">


        <div id="root">
          <ul>
            <li v-for="name in names" v-text="name"></li>
          </ul>

          <input id="input" type="text" v-model="newName">
          <button @click="addName">Add Name</button>
        </div>

        <script>
          var app = new Vue({
            el: '#root',
            data: {
              names: ['Bryan', 'Nancy', 'Charla'],
              newName: ''
            },
            methods: {
              addName() {
                this.names.push(this.newName);
                this.newName = '';
              }
            }
          })

        </script>

      </div>
    </div>


  </body>
</html>