- cache ['app-details', app] do
  = app.summary_display

  = app.titles_display

  %ul.accordion{data: {'accordion': true, 'allow-all-closed': 'true'}}

    %li.accordion-item{data: {'accordion-item': true}}
      %a.accordion-title.foundation-remote{href: work_tools_path(app), remote: true} Technology Stack

      .accordion-content{data: {'tab-content': true}}
        = spinner
