- if work.summary.present?
  %p.summary
    = work.summary
%p= work.decorate.titles_and_instruments

- if work.active_tools.any? or work.legacy_tools.any?
  %ul.accordion{data: {'accordion': true, 'allow-all-closed': 'true'}}

    %li.accordion-item{data: {'accordion-item': true}}
      %a.accordion-title{href: '#'} Technology Stack

      .accordion-content{data: {'tab-content': true}}
        - if work.active_tools.any?
          %p.tools
            %b Buzzwords:
            = raw(work.active_tools.map{|t| link_to(t.name, t)}.join(', '))
        - if work.legacy_tools.any?
          %p.tools
            %b Legacy:
            = raw(work.legacy_tools.map{|t| link_to(t.name, t)}.join(', '))
