- cache ['app-details', work] do
  - if work.summary.present?
    %p.summary
      = work.summary

  %p.titles= raw(work.titles.map{|title| link_to(title.name, title)}.join(', '))

  %ul.accordion{data: {'accordion': true, 'allow-all-closed': 'true'}}

    %li.accordion-item{data: {'accordion-item': true}}
      %a.accordion-title.foundation-remote{href: work_tools_path(work), remote: true} Technology Stack

      .accordion-content{data: {'tab-content': true}}
        = spinner
