- if work.summary.present?
  %p.summary
    = work.summary

= work.decorate.titles_and_instruments

- if work.tools.any?
  %ul.accordion{data: {'accordion': true, 'allow-all-closed': 'true'}}

    %li.accordion-item{data: {'accordion-item': true}}
      %a.accordion-title.foundation-remote{href: work_tools_path(work), remote: true} Technology Stack

      .accordion-content{data: {'tab-content': true}}
        = spinner
