- show_year ||= false
- show_meta ||= false
- show_genre ||= false
- embedded_content ||= false

- if embedded_content
  -# Refactor DUPE
  %section.works
    %ol.works
      - works.each do |work|
        %li{class: work.favorite? ? 'favorite' : nil}
          %span.work-name= work.decorate.title

- else
  .row
    .medium-7.medium-offset-5.columns
      -# Refactor DUPE
      %section.works
        %ol.works
          - works.each do |work|
            %li{class: work.favorite? ? 'favorite' : nil}
              %span.work-name= work.decorate.title

