- show_meta ||= false
- show_genre ||= false

= render "layouts/tabs", tabs: [{title: 'Featured',
                                 content: render("works/list", works: works.favorite), show_meta: show_meta, show_genre: show_genre},
                                {title: 'Others',
                                 content: render("works/list", works: works.unfavorite), show_meta: show_meta, show_genre: show_genre}]
