
%li{class: work.favorite? ? 'favorite' : nil}
  %span.work-name= link_to(work.name, work)
  - if work.demo?
    %span.demo-warning 
      - if work.music?
        [home demo]
      - else
        [prototype or rough draft]
