
%section.label
  .portrait-frame
    = wicked_pdf_image_tag('profile-pic-bw.jpg', size: '50x50', class: 'portrait')

%section.contents
  %h1 Todd Gehman
  %h2 Software Humanist

  %ul.contacts
    %li
      %span.label e:
      = render @todd.email
    %li
      %span.label p:
      = render @todd.phone
    %li
      %span.label w:
      = link_to("toddgehman.com", "https://toddgehman.com")
