%section.label Education
%section.contents
  .school
    .title Photographic Center Northwest
    .dates 2005 - 2009
    .subject Fine Art Photography
  .school
    .title Penn State University
    .dates 1988 - 1994
    .subject Integrative Arts