%section.label
  Summary
%section.contents
  Creative, seasoned web application software generalist and team/product/project manager attuned to language, design, usability, and the transformative humanist power of internet software. Having settled in New York City after extensive global travel, I'm seeking greater NYC companies who do social good (health, human rights, equality, education) or facilitate human experience and creativity (arts, music, software, travel, productivity).