%section.label Professional Software

%section.contents= render @todd.jobs




-# %section.resume-section#experience
-#   .row
-#     .medium-7.columns
-#       %section#professional
-#         %h3
-#           = experience_icon
-#           Professional Software
-#         = render @todd.jobs

-#       %section#recognition
-#         %h3
-#           = experience_icon
-#           Recognition
-#         = render @todd.awards

-#       %section#education
-#         %h3
-#           = experience_icon
-#           Education
-#         = render @todd.schools



-#     %aside.medium-5.columns
-#       = render "resume/tools"
-#       %section#side-projects
-#         %h3
-#           = experience_icon
-#           Side Projects
-#         = render @todd.side_projects

-#       %section#associations
-#         %h3
-#           = experience_icon
-#           Associations
-#         = render @todd.non_profits