%section#statement
  .row
    .small-12.columns
      %p Creative, seasoned, full-stack web application developer and development manager attuned to design, language, usability, and the transformative humanist power of internet software.