%section.resume-section#statement
  .row
    .small-12.columns
      %p Creative, seasoned, full-stack web application developer and development manager who is attuned to the design, usability, and the transformative power of internet software.