- title("Resume")

-# %p= link_to("PDF", {format: :pdf}, class: 'button')

= render "resume/contact_info"
= render "resume/statement"

= render "resume/experience"

-# %h2 Professional Experience

-# = render @todd.jobs

-# %h2 Side Projects

-# = render @todd.side_projects