#resume
  = render "header"

  %section
    .sidebar
      %h2 Summary
    .main
      %p= @todd.summary

  %section
    .sidebar
      %h2 Employment
    .main
      = render partial: 'companies/company', formats: [:html], collection: @todd.jobs