%ul.tabs#example-tabs{data: {tabs: true}}
  %li.tabs-title.is-active
    %a{href: '#live-music-panel', aria: {selected: 'true'}} Live Music

  %li.tabs-title
    %a{href: '#band-recordings-panel'} Band Recordings

  %li.tabs-title
    %a{href: '#solo-recordings-panel'} Solo Recordings

.tabs-content{data: {tabs_content: 'example-tabs'}}
  .tabs-panel.is-active#live-music-panel
    = render "live_bands"
  .tabs-panel#band-recordings-panel
    = render @series.band.sort{|a, b| b.stop_year <=> a.stop_year}
  .tabs-panel#solo-recordings-panel
    = render @series.solo.sort{|a, b| b.stop_year <=> a.stop_year}


/ .row
/   .medium-7.medium-offset-5.columns
/     %h1 Music

/ = render "live_bands"

/ .row
/   .medium-7.medium-offset-5.columns
/     %h2 Recordings

/ = render @series.sort{|a, b| b.stop_year <=> a.stop_year}
