= render "layouts/tabs", tabs: [{title: 'Live Bands',
                                 content: render("live_bands")},
                                {title: 'Band Recordings',
                                 content: render(@band_recordings)},
                                {title: 'Solo Recordings',
                                 content: render(@solo_recordings)}]

