= render "layouts/tabs", tabs: {'Live Bands' => render("live_bands"),
                               'Band Recordings' => render(@band_recordings),
                               'Solo Recordings' => render(@solo_recordings)}

