= render "layouts/tabs", tabs: [{title: 'Portfolios',
                                 content: render(Series.portfolio)},
                                {title: 'Series & Exhibits',
                                 content: render(Series.non_portfolio.photography)},
                                {title: 'Online Profiles',
                                 content: render(Work.photography.websites.sorted)}]