= render "layouts/tabs", tabs: {'Portfolio' => render(Series.portfolio),
                        'Series & Exhibits' => render(Series.non_portfolio.photography),
                        'Online Profiles' => render(Work.photography.websites.sorted)}