-# %ul.accordion{data: {'responsive-accordion-tabs': 'accordian medium-tabs'}}
-#   %li.accordion-item.is-active{data: {'accordion-item': true}}
-#     %a.accordion-title{href: '#'} Accordion 1

-#     .accordion-content{data: {'tab-content': true}}
-#       %p Panel 1. Lorem ipsum dolor
-#       %a{href: '#'}

-#   %li.accordion-item{data: {'accordion-item': true}}
-#     %a.accordion-title{href: '#'} Accordion 2

-#     .accordion-content{data: {'tab-content': true}}
-#       %p Panel 2. Lorem ipsum dolor
-#       %a{href: '#'}


.row
  .medium-7.columns.medium-offset-5
    = render "resume/button"


%ul.tabs#interest-works-tabs{data: {'responsive-accordion-tabs': 'tabs small-accordion medium-tabs'}}
  %li.tabs-title.is-active
    %a{href: '#featured-works-panel', aria: {selected: 'true'}} Featured Projects

  %li.tabs-title
    %a{href: '#professional-works-panel', aria: {selected: 'true'}} All Professional Projects

  %li.tabs-title
    %a{href: '#side-projects-panel'} Side Projects


.tabs-content{data: {tabs_content: 'interest-works-tabs'}}
  .tabs-panel.is-active#featured-works-panel
    = render @interest.works.favorite.sorted
  .tabs-panel#professional-works-panel
    = render @interest.works.pro.sorted
  .tabs-panel#side-projects-panel
    = render @interest.works.solo.sorted
