= render "layouts/tabs", tabs: [{title: 'Featured Projects',
                                 content: render(@interest.works.favorite.sorted)},
                                {title: 'Other Projects',
                                 content: render(@interest.works.unfavorite.sorted)}]
