- title('Film')
= render "layouts/tabs", tabs: [{title: 'Featured Projects',
                                 content: render(@featured)},
                                {title: 'Other Projects',
                                 content: render(@other_projects)}]
