- title('Music')
= render "interests/summary"

= render "layouts/tabs", tabs: [{title: 'Bands',
                                 content: render("live_bands")},
                                {title: 'Band Recordings',
                                 content: render(@band_recordings)},
                                {title: 'Solo Recordings',
                                 content: render(@solo_recordings)}]

