- title('Photography')

.row
  .small-12.medium-6.columns.text-center
    = link_to(instagram_icon, "https://www.instagram.com/pugetive/", class: 'big-icon')
    %br
    = link_to("Instagram (active)", "https://www.instagram.com/pugetive/")
  .small-12.medium-6.columns.text-center
    = link_to(flickr_icon, "https://www.flickr.com/photos/pugetive", class: 'big-icon')
    %br
    = link_to("Flickr (lapsed)", "https://www.flickr.com/photos/pugetive")