- title('Photography', false)

.row
  .small-12.columns.text-center
    %h1 Photography

.row
  .medium-4.medium-offset-2.columns.text-center
    = link_to(instagram_icon, "https://www.instagram.com/pugetive/", class: 'big-icon')
    %br
    = link_to("Instagram (active)", "https://www.instagram.com/pugetive/")
  .medium-4.end.columns.text-center
    = link_to(flickr_icon, "https://www.flickr.com/photos/pugetive", class: 'big-icon')
    %br
    = link_to("Flickr (lapsed)", "https://www.flickr.com/photos/pugetive")