- title('Photography')
- portfolio_tabs = @portfolios.map{|gallery| {title: gallery.name.gsub(' Portfolio', ''), content: render(gallery)}}
= render "layouts/tabs", tabs: portfolio_tabs.concat([{title: 'Series & Exhibits',
                                                      content: render(@non_portfolios)},
                                                      {title: 'Online Profiles',
                                                       content: render(@profiles)}])