- title(@interest.name, false)

.row
  .medium-7.medium-offset-5.columns
    %h1= @interest.name


- if @interest.music? or @interest.photography?
  = render @series
- else
  = render @interest.works.sorted