- title('Software')
= render "interests/summary"
.row
  .small-12.medium-offset-3-medium-6.columns
    - cache ['software-tabs', App.all.cache_key] do
      = render "layouts/tabs", tabs: [{title: 'Featured Projects',
                                       content: render(@featured)},
                                      {title: 'All Professional Projects',
                                       content: render(@pro_projects)},
                                      {title: 'Side Projects',
                                       content: render(@side_projects)}]

