- cache project do
  %section.timeline.project
    = timeline_row(project.date_range, project.name, project.official_title)

  -# %section.project.panel
  -#   %h3.linked= link_to(project.name, project)
  -#   %h3.unlinked= project.name
  -#   .subdued
  -#     = project.titles.map{|t| t.name}.join(', ')
  -#     = link_to(new_icon, new_role_path(project_id: project.id), data: {visible_to: 'admin'})
  -#   = project.date_range
  -#   %p= project.description
  -#   = render "notes/list", subject: project
  -#   = render "tools/list", project: project
