- title(@title.name, false)

.row
  .medium-7.medium-offset-5.columns
    %h1
      %span.tool-name= @title.name
    %p 
      Listing works where I operated as a #{content_tag(:i, @title.name)}.

= render 'works/stacked', works: @title.works, show_meta: true, show_genre: true
