= form_for @series_work do |f|
  - handle_errors(@series_work)
  = label_field(f.label(:series_id),
                f.select(:series_id, options_from_collection_for_select(Series.all, :id, :name, selected: params[:series_id])))
  = label_field(f.label(:work_id),
                f.select(:work_id, options_from_collection_for_select(Work.all.alpha, :id, :name)))
  = submit(f)
