%ul.titles
  - subject.titles.each do |title|
    %li.title
      = link_to(title.name, title)
      - if title.name == 'Performer' and subject.tools.instruments.any?
        %ul.instruments
          - subject.tools.instruments.sorted.each do |instrument|
            %li= link_to(instrument.name, instrument)
