- cache ["gallery/thumbnails", gallery] do
  - gallery.photos.sorted.each do |photo|
    - cache ["thumbnail", photo, gallery] do
      = link_to(photo.thumbnail(false), photo_path(photo, gallery_id: gallery.id))
