- title("About", false)
.row
  .medium-7.medium-offset-5.columns
    %h1 About

.row
  .medium-3.columns.medium-offset-2.medium-text-right.title-box
    Current Home

  .medium-5.columns.end.info-box
    %b Brooklyn, NY
    %br
    (but technically homeless while traveling the world from July '16 to Summer '17)

.row
  .medium-3.columns.medium-offset-2.medium-text-right.title-box
    Popped Out

  .medium-5.columns.end.info-box
    %b Ephrata, PA 
    %br
    &hellip;on August 16, 1970.  Apparently it was a very good year for Bordeaux.  I would like to pretend that that means something.

.row
  .medium-3.columns.medium-offset-2.medium-text-right.title-box
    Keywords

  .medium-5.columns.end.info-box
    Secular Humanist, Small-L liberal, Smart-ass, INTP

.row
  .medium-3.columns.medium-offset-2.medium-text-right.title-box
    Bio

  .medium-5.columns.end.info-box
    %p I was just a kid when my childhood began.
    %p [Years pass.]
    %p Escaping my little hometown in Amish Country for the somewhat more liberal pastures of State College (actual name of an actual town), I tried dropping the math nerd schtick, studying the liberal arts, growing out my hair, and so on.  I got so adept at critical thinking while at Penn State that I eventually turned a critical eye on state school liberal arts education.  Skipped town, headed West.
    %p I settled in Seattle, planning to resume nerdhood by studying the cold, hard sciences at Shoreline Community College.  While pursuing chemistry and physics, a series of menial jobs eventually lead to a menial job at a Homebrew Shop, where I was able to chit-chat microbiology and teach myself web development by building their online store.  The website-building lead to a life-altering and all-consuming job at Amazon.com, for which I gave up night school entirely. 
    %p Six years on, I left Amazon to join some other ex-Amazonians at the <a href="https://web.archive.org/web/20111212175551/http://www.robotcoop.com/">Robot Co-op</a>, helping to build the goal-oriented site <a href="https://web.archive.org/web/20111212175551/http://www.43things.com/">43 Things</a>, by which I was inspired to skydive, write and record my own songs, and take up night school again. That time it was photography.

    %p Just as I got a proper visual arts orientation, the web progressed beyond flat, ugly, barely usable interfaces, I spent some time hacking up websites as a developer for small but mighty design firm <a href="https://web.archive.org/web/20111212175551/http://blog.urbaninfluence.com/">Urban Influence</a>.
    %p I now write software for <a href="https://web.archive.org/web/20111212175551/http://vittana.org/">Vittana</a>, where we circumvent the inequities in the global banking industry and use microfinance to provide student loans in the developing world where they'd otherwise be difficult or impossible to get.

    %p [Years pass.]

    %p
      I have yet to settle on an epitaph, but here are three contenders:
    %ul
      %li Made it the whole way through without therapy.
      %li I would rather be here than in Florida.
      %li I had a lover's duel with the world. (A riff on Robert Frost's)

