- title('Home', false)
- add_html_class('mini')

.row
  .medium-6.large-6.columns.medium-offset-3.large-offset-3
    %h1 Todd Gehman
    %h2.subhead= CONFIG[Rails.env][:host_with_port]

    %p
      Once the digital hub (remember those?) for my professional and amateur creative projects, this site suffered from years of neglect and had to be retrofitted to match modern construction code. What you're witnessing is a complete rebuild from scratch. And it's all been happening intermittently while traveling overseas until late 2017&hellip;so you can expect lots of construction noise, plumber crack, schedule SNAFUs, and so on.
    %p While working on this navel-gazing side project to represent my creative life as a relational database, I'm also seeking out my next career move in New York City.
    %br
    = render "resume/button"
    / %i.nowrap ~ 2016


    %footer.subdued
