- title('Home', false)
- add_html_class('mini')

.row
  .medium-6.large-6.columns.medium-offset-3.large-offset-3
    %h1 Todd Gehman
    %h2.subhead pugetive.com

    %p
      This is the online hub for my creative projects, both professional and amateur. If you're looking for something I've made, you'll soon find a link to it from here.
    %p
      This site had grown weeds while running on deprecated technology so it had to be rethought. What you are witnessing here is a rethinking &mdash; a rewrite from scratch is currently in progress.
      %i ~ March 2016


    %footer.subdued
