- title('Home', false)
- add_html_class('mini')

.row
  .medium-6.large-6.columns.medium-offset-3.large-offset-3
    %h1 Todd Gehman
    %h2.subhead pugetive.com

    %p
      This was the online hub for my creative projects, both professional and amateur. If you're looking for something I've made, you won't find it here, but you'll soon find a link to it from here...probably.
    %p
      Development on the site lapsed while it was running on deprecated technology so it had to be rethought. What you are witnessing here is a rethinking &mdash; a rewrite from scratch is currently in progress. Expect lots of contruction noise and plumber crack.
      %i ~ Summer 2016


    %footer.subdued
