// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

html.about-about {
  .row {
    margin-bottom: 2em;
  }

}

html.about-home {
  $thumbnail_size: 70px;
  // body {
  //   background-image: asset-url('backgrounds/trees-st-ignatius.jpg');
  //   background-size: 100% 100%;
  //   background-repeat: no-repeat;
  // }

  $carbon_size: 4px;
  #main {
    // background: url(/errors/space-needle-reflection.png) center center no-repeat fixed;
    // background-size: cover;

    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) $carbon_size $carbon_size,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) $carbon_size ($carbon_size + 1);
    background-color: $body_background;
    background-size: ($carbon_size * 2) ($carbon_size * 2);
  }

  .callout {
    font-size: 1.5em;
    width: 100%;
    display: block;
  }

  .thumbnail {
    margin: 0 -2px;
    width: $thumbnail_size;
    height: $thumbnail_size;
    border: 0;
    // filter: grayscale(100%);
    &:hover {
      filter: none;
    }
  }

  ul.photo-grid {
    li.callout {
      background-color: transparent;
      padding: 0;
      white-space: nowrap;
    }
    margin-bottom: 2em;
  }
  // #home-wrapper {
  //   margin-top: -80px;
  // }
}

