/* BROWN THEME */
// $body_background: #352f2f;
// $alt_background: #2c2223;
// $link_color: #b87220;
// $header_color: #8b98ab;
// $link_color: #ca780a;
// $header_color: #fbf4f4;
// $body_color: #b5acaa;
// $border_color: #766f6f;

/* DARK GREY THEME */
// $body_background: #161616;
// $alt_background: #1F1F1F;
$body_background: #191919;
$alt_background: #000;
$header_color: #000;

$border_color: #595959;

$body_color: #BBBBBB;
// $link_color: #C16A14;
$link_color: #a63;


$side_border_color: $border_color;


$red_text_color: #f66;


a, a:visited {
  color: $link_color;
}

h1, h2, h2.subhead {
  color: darken($body_color, 10%);
}

form label {
  color: lighten($body_color, 30%);
}

$alert_color: $red_text_color;
$neutral_color: gold;
$success_color: #6a9;

.flash-message .alert {
  background: $alert_color;
  color: #ffc;
}

.menu > li > a, #private-menu-wrapper a {
  &.alert {
    color: darken($alert_color, 10%);
  }
  &.success {
    color: darken($success_color, 10%);
  }
  &.message {
    color: darken($neutral_color, 10%);
  }
}


.flash-message .success {
  background: $success_color;
  color: #fff;
}

.button, .button.custom, .button.secondary {
  background-color: $link_color;
}


#resume {
  h3 {
    color: #888;
  }
  #professional {
    i.fa {
      color: #38628C;
    }
  }

  #tools {
    i.fa, i.fi-record {
      color: #408080;
    }
  }

  #education {
    i.fa {
      color: #FFE180;
    }
  }
  #side-projects {
    i.fa {
      color: #A6433A;
    }
  }
  #associations {
    i.fa {
      color: #E6B8CF;
    }
  }
  #recognition {
    i.fa {
      color: #33BBFF;
    }
  }
}