$body_background: #fcfcfc;
$body_color: #222;
$header_color: #111333;
$border_color: #ccc;

h2, h2.subhead {
  color: lighten($header_color, 10%);
}

form label {
  color: lighten($body_color, 30%);
}

.flash-message .alert {
  color: firebrick;
}