$body_background: #fcfcfc;
$body_color: #222;
$header_color: #111333;
$border_color: #ccc;

h2, h2.subhead {
  color: lighten($header_color, 10%);
}

form label {
  color: lighten($body_color, 30%);
}

.flash-message .alert {
  color: firebrick;
}

#resume {
  #professional, #tools {
    i.fa {
      color: #38628C;
    }
  }

  #education {
    i.fa {
      color: #468C52;
    }
  }
  #side-projects {
    i.fa {
      color: #5E4D80;
    }
  }
  #associations {
    i.fa {
      color: #736250;
    }
  }
}