@import 'colors';

$background_tile: 'tiles/felt.png';

@mixin rounded($size: 5px) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  border-radius: $size;
}

@mixin rounded_top($size: 5px) {

  -moz-border-radius-topleft: $size;
  -moz-border-radius-topright: $size;

  -webkit-border-top-left-radius: $size;
  -webkit-border-top-right-radius: $size;

  -khtml-border-top-left-radius: $size;
  -khtml-border-top-right-radius: $size;

  border-top-left-radius: $size;
  border-top-right-radius: $size;

}

@mixin subdued($percentage: 50) {
  @include alpha($percentage);
}

@mixin alpha($percentage) {
  opacity: ($percentage / 100);
  filter:alpha(opacity=$percentage);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$percentage)";
}

