@import 'mixins';

#private-menu-wrapper {
  background: black;
  color: white;
  font: normal 12px Verdana;
  a {
    color: white;
  }
}

#public-menu {
/*  li.interest-item {
    width: 10em;
    text-align: center;
    border-right: 1px dotted #ccc;
    .icon {
      display: inline-block;
      margin-top: -0.25em;
    }
  }
  li.interest-item:last-child {
    border-right: none;
  }
*/
}