@import 'mixins';

#private-menu-wrapper {
  background: $link_color;
  font: normal 12px Verdana;
  a {
    color: $alt_background;
  }
}

#public-menu-wrapper {
  border-top: 2px solid $link_color;
  background: $alt_background;

  .top-bar, .top-bar ul {
    background: $alt_background;
  }

  li.home a {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}



#public-menu {
/*  li.interest-item {
    width: 10em;
    text-align: center;
    border-right: 1px dotted #ccc;
    .icon {
      display: inline-block;
      margin-top: -0.25em;
    }
  }
  li.interest-item:last-child {
    border-right: none;
  }
*/
  ul.auth {
    @include subdued(20);
  }
}