
@import 'mixins';

#private-menu-wrapper {
  background: $link_color;
  font: normal 12px Verdana;
  a {
    color: $alt_background;
  }
}

#public-menu-wrapper {
  border-top: 2px solid $link_color;
  background: $alt_background;

  .top-bar, .top-bar ul {
    background-image: asset-url($background_tile)
  }

  li.home a {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
}


html.about-home #public-menu-wrapper {
  display: none;
}

.no-js .title-bar-left {
  display: none;
}

#public-menu {
  .icon {
    @include subdued(50);
  }
  ul.auth {
    @include subdued(20);
  }
}

.tabs {
  background-color: lighten($alt_background, 10%);
  background-image: asset-url($background_tile);
  border: none;
/*  > li > a {
    @include rounded_top();
  }
*/
}

.tabs-title, .accordion-item {
  > a[aria-selected='true'] {
    background-color: $alt_background;
    color: $body_color;
  }
  a:hover {
    background-color: $body_background;
    color: darken($link_color, 15%);
  }

  a {
    color: $link_color;
  }
}
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $body_background transparent transparent;
}


.tabs-content {
  background-color: $alt_background;
  border: none;
}

.tabs-content,
.tabs-title > a[aria-selected='true'],
.tabs-title a:hover,
.accordion-content,
.accordion-title {
  background-color: #000;
  background-image: image-url('tiles/debut_dark.png');
  border-color: $border_color;
}


.accordion :last-child:not(.is-active) > .accordion-title,
.accordion :last-child > .accordion-content:last-child {
  border-bottom-color: $border_color;
}

html.interests-show .accordion .accordion-title,
.accordion :last-child:not(.is-active) > .accordion-title,
.accordion :last-child > .accordion-content:last-child {
  border-color: transparent;
}

.tabs-content .accordion-title,
.accordion-content .accordion-title {
  padding: 0.5em 0;
  border-color: transparent;
}

$tab_outline: darken($border_color, 20%);

.tabs-title > a[aria-selected='true'] {
  margin-bottom: -1px;
  border-top: 1px solid $tab_outline;
  border-left: 1px solid $tab_outline;
  border-right: 1px solid $tab_outline;
  /*@include rounded_top();*/
}

.tabs-content {
  border-left: 1px solid $tab_outline;
  border-right: 1px solid $tab_outline;
  border-bottom: 1px solid $tab_outline;
}

ul.tabs {
  /*@include rounded_top();*/
  border-bottom: 1px solid $tab_outline;
}

.top-bar-section .has-dropdown > a:after {
    border-color: $body_color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.eyebrow {
  font-size: 10pt;
}

.callout {
  background-color: $alt_background;
}