@import 'colors';
@import 'mixins';

$border_style: dotted;
html.resume-show {

  .languages-systems {
    p {
      margin-top: 1em;
    }
    .highlights {
      margin-bottom: 0.5em;
    }
    .primary {
      @include subdued(66);
    }
  }
  a {
    color: $body_color;
  }
  a:hover {
    @include subdued();
  }

  .resume-section {
    border-bottom: 1px $border_style $border_color;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  ul.tools-edit {
    display: none;
  }

  .timeline {
    .name {
      font-weight: bold;
      display: inline-block;
      margin-right: 0.5em;
    }
    .summary {
      margin-top: 0.3em;
      @include subdued(60);
      font-size: 0.9em;
    }
    .dates {
      white-space: nowrap;
      @include subdued(60);
      font-size: 0.9em;
      padding-top: 0.125em;
    }

  }
  aside {
    border-left: 1px $border_style $border_color;
    h3 {
      font-size: 2em;
    }
    font-size: 0.8em;
  }

  ul.awards {
    list-style: none;
    margin-left: 0;
    li {
      padding: 0.5em 1em;
      background: #eee;
      margin-bottom: 0.5em;
      @include rounded();
      color: #888;
    }
  }
}