@import 'colors';
@import 'mixins';

html.resume-show {

  a {
    color: $body_color;
  }
  a:hover {
    @include subdued();
  }

  .resume-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  ul.tools-edit {
    display: none;
  }

  .timeline {
    .name {
      font-weight: bold;
      display: inline-block;
      margin-right: 0.5em;
    }
  }
  aside {
    h3 {
      font-size: 2em;
    }
    font-size: 0.75em;
    .dates {
      white-space: nowrap;
    }
  }
}