@import 'mixins';

section.series {
  .titles {
    display: none;
  }
  .tools {
    display: none;
  }
}

section.series.music, section.series.writing {
  .titles {
    display: block;
    @include subdued(50);
    font-size: 0.8em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  ol.works {
    padding-left: 0;
    li:not(.favorite) {
      font-weight: 100;
      @include subdued(66);
    }
    li.favorite span.work-name {
      font-weight: 700;
    }
  }

  .tools {
    display: block;
    @include subdued(33);
    font-size: 0.8em;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

}

section.gallery {
  .artist {
    display: none;
  }
}

.series.series {
    h4 {
    font-size: 1em;
    text-transform: uppercase;
    @include subdued();
  }

}

html.series-show {
  .instruments {
    display: none;
  }
  section.series.photography {
    img {
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }
}

html.interests-show {
  section.gallery.photography {
    img {
      width: 4em;
      height: 4em;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
    }

  }
}

