@import 'mixins';

section.series {
  .titles {
    display: none;
  }
  .tools {
    display: none;
  }
}

section.series.music {
  .titles {
    display: block;
    @include subdued(90);
  }

  .tools {
    display: block;
    @include subdued(33);
    font-size: 0.8em;
  }

}