@import 'mixins';


table {
  tbody {
    background: $alt_background;
    tr {
      background: $alt_background;
    }
    th, td {
      background: $body_background;
      vertical-align: top;
    }
    border-color: $body_background;
    td {
      text-align: left;
    }
  }
}

table.compact {
  tbody {
    th, td {
      font-family: Verdana;
      font-size: .75em;
      padding: 0.25em 0.5em;
    }
    th {
      font-weight: normal;
    }

  }
}