@import 'colors';

h1 {
  a, a:visited {
    color: $body_color;
  }
  a:hover {
    color: $link_color;
  }
}

h2 {
  font-size: 1.5em;
}

pre {
  white-space: pre-wrap;
}

.small {
  font-size: 0.66em;
}
.tiny {
  font-size: 0.5em;
}