// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

section.work, section.series, section.band {
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  margin-bottom: 3em;
  .info-box {
    border-left: 1px dotted #666;
  }

  p.status {
    font-size: 0.8em;
  }
  .titles, .programs, .location {
    @include subdued;
    font-size: 0.8em;
  }

  .date-range {
    margin-bottom: 0.3em;
  }
  &.film, &.software {
    .artist {
      display: none;
    }
  }
  &.photography {
    .artist {
      display: none;
    }
    .titles {
      display: none;
    }
    .tools {
      display: none;
    }
    .status {
      display: none;
    }
  }
  .demo-warning {
    font-size: 0.75em;
    color: firebrick;
    font-style: italic;
  }
}



section.series-works .work {
  .titles, .tools, .status, .programs {
    display: none;
  }
}