// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

section.work, section.series, section.band, section.works {
  margin-bottom: 3em;

  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  .titles {
    @include subdued();
  }

  .titles, .artist {
    font-style: italic;
    margin-bottom: 0.3em;
  }

  .years {
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  .demo-warning {
    color: $red_text_color;
    font-weight: 100;
    font-size: 0.8em;
  }

  p.summary {
    margin-top: 0;
  }
  p.status {
    font-size: 0.8em;
  }

  .info-box {
    border-left: 1px solid $side_border_color;
  }

  &.film, &.software {
    .artist {
      display: none;
    }
  }

  &.software {
    .programs {
      display: none;
    }
  }
  
  &.photography {
    .artist {
      display: none;
    }
    .titles {
      display: none;
    }
    .tools {
      display: none;
    }
    .status {
      display: none;
    }
  }

  &.music {
    .tools {
      display: none;
    }
  }

  .titles a {
    color: inherit;
  }

  .tools, .instruments, .genre {
    @include subdued();
    font-size: 0.8em;
    a {
      color: inherit;
    }
  }
  .author {
    @include subdued();
    font-size: 0.8em;
  }

}

html.works-show {
  .lyric {
    font-size: 0.8em;
  }
}

html.series-show ul.series-list {
  display: none;
}



section.series-works .work {
  .titles, .tools, .status, .programs {
    display: none;
  }
}