// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section.work {
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  margin-bottom: 3em;
  .info-box {
    border-left: 1px dotted #666;
  }

  p.status {
    font-size: 0.8em;
  }
}

