- title(@series.name)

%p
  %b Summary:
  = @series.summary
%p
  %b Description:
  = @series.description

%h2 Works
%section.series-works
  = render @series.works

= link_to(new_icon, new_series_work_path(series_id: @series.id))