/ .flash-message.alert-box.callout.success
/   This formerly-complete site is being rebuilt from scratch in 2016, so it's under active 
.flash-message
  - if flash.any?
    - flash.each do |name, msg|
      .alert-box.callout{id: "flash_#{name}", class: (name == 'notice' ? 'success' : 'alert')}
        .row
          .medium-12.columns= msg
