-# %section.top-bar-section{data: {visible_to: 'admin'}}
-#   .private-menu-container
-#     %ul.menu
-#       %li= link_to(raw("#{project_icon} Projects"), projects_path)
-#       %li= link_to(raw("#{title_icon} Titles"), titles_path)
-#       %li= link_to(raw("#{tools_icon} Tools"), tools_path)

-#       %li.nowrap{data: {visible_to: 'admin'}}
-#         = link_to(raw("#{status_icon}"), status_path)
