%section#public-menu-wrapper{data: {visible_to: 'admin'}}
  .title-bar{data: {responsive_toggle: 'public-menu', hide_for: 'medium'}}
    %button.menu-icon{type: 'button', data: {toggle: true}}
    .title-bar-title Menu

  .top-bar#public-menu
    .top-bar-left
      %ul.dropdown.menu{data: {dropdown_menu: true}}
        %li.menu-text= link_to(SITE_TITLE, root_path)
        %li
          %a{href: '#'} Web/Software
          %ul.menu.vertical
            %li= link_to("Resume", resume_path)
            %li= link_to("Projects", software_path)
        -# %li Photography
        -# %li Music
        -# %li Writing

