- tab_id = "tabs-" + SecureRandom.hex(8)

%ul.tabs{id: tab_id, data: {'responsive-accordion-tabs': 'tabs small-accordion medium-tabs', "deep-link": "true", "update-history": "true"}}
  - tabs.each_with_index do |tab, index|
    %li.tabs-title{class: (index == 0 ? 'is-active' : nil)}
      %a{href: '#' + tab[:title].parameterize, aria: {selected: 'true'}}= tab[:title]

.tabs-content{data: {tabs_content: tab_id}}
  - tabs.each_with_index do |tab, index|
    .tabs-panel{id: tab[:title].parameterize, class: (index == 0 ? 'is-active' : nil)}
      .row
        .medium-7.medium-offset-5.columns.tab-title
          %h2= tab[:title]

      - if tab[:comment].present?
        .row
          .medium-5.columns.end.info-box.medium-offset-5
            %p= tab[:comment]

      = tab[:content]
