- tab_id = "tabs-" + SecureRandom.hex(8)

%ul.tabs{id: tab_id, data: {'responsive-accordion-tabs': 'tabs small-accordion medium-tabs'}}
  - tabs.each_with_index do |tab, index|
    %li.tabs-title{class: (index == 0 ? 'is-active' : nil)}
      %a{href: '#' + tab[0].parameterize, aria: {selected: 'true'}}= tab[0]

.tabs-content{data: {tabs_content: tab_id}}

  - tabs.each_with_index do |tab, index|
    .tabs-panel{id: tab[0].parameterize, class: (index == 0 ? 'is-active' : nil)}
      = tab[1]

